.sidebar-brand-icon img{
  width: 4rem;
}

.admin-heading {
  font-size: 0.70rem!important;
  margin-top: 1rem;
}

.sidebar hr.sidebar-divider {
  margin: 0 1rem 0rem!important;
}

.sidebar.toggled .admin-heading {
  font-size: 0.5rem!important;
}